@font-face {
   font-family: "Marcellus";
   src: url("../fonts/Marcellus-Regular.woff2") format("woff2"),
       url("../fonts/Marcellus-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Lemon";
   src: url("../fonts/Lemon-Regular.woff2") format("woff2"),
       url("../fonts/Lemon-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Mulish";
   src: url("../fonts/Mulish-Regular.woff2") format("woff2"),
       url("../fonts/Mulish-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Mulish";
   src: url("../fonts/Mulish-ExtraBold.woff2") format("woff2"),
       url("../fonts/Mulish-ExtraBold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Mulish";
   src: url("../fonts/Mulish-SemiBold.woff2") format("woff2"),
       url("../fonts/Mulish-SemiBold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Mulish";
   src: url("../fonts/Mulish-Bold.woff2") format("woff2"),
       url("../fonts/Mulish-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
       url("../fonts/Poppins-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
